*{
  padding: 0;
  margin: 0;
}
.card{
  width: 300px;
  padding: .5em;
  border-radius:1em; 
}
.card img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 1em;
  }
.container{
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin: auto;
}
.card-bg{
  background-color: #fdb8fffb;
}
.ui-btn{
  width: 2em;
  height: 2em;
  background-color: rgb(255, 215, 250);
  border-radius: 50%;
  font-size: 25px;
  color: black;
  cursor: pointer;
}
.util-desc-font{
  font-size: 18px;
  color: rgb(88, 88, 255);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.item-input-box{
  width: 80%;
  text-align: center;
  background-color: rgb(255, 215, 250);
}
input{
  width: 100%;
}